html{
	scroll-behavior: smooth;
}

body{
height: 0px;
}

a:link {
	text-decoration: none;
}

.headline{
	font-size: 3rem;
	margin: none;
	text-align: center;
	-webkit-text-fill-color: #000;
  	-webkit-text-stroke-width: 0.1rem;
 	-webkit-text-stroke-color: #fff;
}

.headline:hover{
	-webkit-text-fill-color: white;
	cursor: crosshair;
}

.section1{
	position: fixed;
	height: 99vh;
	width: 99vw;
	background: linear-gradient(#9198e5, #e183e4);
}

.content{
	padding-left: 20%;
	padding-right: 20%;

}

#word_split{
	line-height: 4rem;
	font-size: 2rem;
}

#word_split span:hover{
    font-weight:bold;
    font-size: 3rem;
    color: white;
    animation: mySize 1s ease-in-out;
}

@keyframes mySize{
	0%{font-size: 2rem; color: black;}
	100%{font-size: 3rem; color: white;}
}

